data/datasets/asml/
fault_detection/logs/asml/**/*.pkl
fault_isolation/logs/asml/
topology_estimation/logs/asml/**/*.pkl
topology_estimation/logs/asml/**/checkpoints/


data/datasets/bearing/cwru/

data/datasets/mass_sp_dm/*
!data/datasets/mass_sp_dm/**/*.py

data/datasets/spring_particles/

**/__pycache__/
