data/datasets/asml/
fault_detection/logs/asml/
fault_isolation/logs/asml/
topology_estimation/logs/asml/

data/datasets/bearing/cwru/
data/datasets/spring_particles/

**/__pycache__/

topology_estimation/logs/
fault_detection/logs/