data/datasets/asml/
fault_detection/logs/**/*.pkl
fault_isolation/logs/asml/
fault_detection/logs/mass_sp_dm/
topology_estimation/logs/**/*.pkl
topology_estimation/logs/asml/**/checkpoints/

topology_estimation/logs/


data/datasets/bearing/cwru/

data/datasets/mass_sp_dm/*
!data/datasets/mass_sp_dm/**/*.py

data/datasets/spring_particles/


**/__pycache__/
